.microphone-ico {
    position: absolute;
    right: -190px;
    top: 240px;
  }

  .form-group-profile{
      position: relative;
      width: 50%;
      padding:12px 270px;
      margin: 8px -20px;
    
  }



  .form-control-profile{
    position: relative;
      width: 250%;
      padding:12px 170px;
      margin: 8px 200px ;  
      height: 150px;
      margin-top: 100px;
  }

  .login-btns-profile {
    margin-top: 0px;
    display:inline-flex;
    margin-right: 45px;
    margin-left: 430px;
  }


  .title-profile {
    color: white;
    font-size: 60px;
    margin-top: -100px;
  }

  
